# ==================
# Python
# ==================
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Virtual environment
venv/
.env/
ENV/
.venv/

# Distribution / packaging
build/
dist/
*.egg-info/

# ==================
# Logs & Reports
# ==================
*.log
*.out
*.err
*.pytest_cache/
test-results.xml
coverage.xml
htmlcov/

# ==================
# VS Code
# ==================
.vscode/
*.code-workspace

# ==================
# OS files
# ==================
.DS_Store
Thumbs.db

# ==================
# Jenkins / CI
# ==================
workspace/
*.jenkinsfile.bak
